services:
  router:
    build:
      context: ./router  # Directory containing the Dockerfile
    container_name: router
    volumes:
      - ./router/dhcpd.conf:/etc/dhcp/dhcpd.conf
      - ./router/iptables.rules:/etc/iptables.rules
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.tcp_timestamps=0
    networks:
      dmz:
        ipv4_address: 192.168.100.250
        mac_address: 02:42:AC:11:00:01
      private:
        ipv4_address: 192.168.200.250
        mac_address: 02:42:AC:11:01:01
      public:
        ipv4_address: 10.10.10.3
      zinternet:
        ipv4_address: 192.168.50.250

  proxy:
    build:
      context: ./reverseproxy
    container_name: proxy
    cap_add:
      - NET_ADMIN
    networks:
      dmz:
        mac_address: 02:42:AC:11:00:04
    volumes:
      - ./reverseproxy/Caddyfile:/etc/caddy/Caddyfile

  user:
    build:
      context: ./user
    container_name: user
    cap_add:
      - NET_ADMIN
    networks:
      private:
        mac_address: 02:42:AC:11:01:02

  dns:
    build:
      context: ./dns
    container_name: dns
    volumes:
      - ./dns/dnsmasq.conf:/etc/dnsmasq.conf
    cap_add:
      - NET_ADMIN
    networks:
      dmz:
        mac_address: 02:42:AC:11:00:03


  webserver:
    build:
      context: ./webserver
    container_name: webserver
    cap_add:
      - NET_ADMIN
    networks:
      dmz:
        mac_address: 02:42:AC:11:00:02
    volumes:
      - ./webserver/web:/public
      - ./webserver/Caddyfile:/etc/caddy/Caddyfile

  webserver2:
    build:
      context: ./webserver2
    container_name: webserver2
    cap_add:
      - NET_ADMIN
    networks:
      dmz:
        mac_address: 02:42:AC:11:00:05
    volumes:
      - ./webserver2/web:/public
      - ./webserver2/Caddyfile:/etc/caddy/Caddyfile

networks:
  dmz:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24
  
  private:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.200.0/24

  public:
    #driver: bridge
    driver: macvlan
    driver_opts:
      parent: enp1s0
    ipam:
      config:
        - subnet: 10.10.10.0/24

  zinternet:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.50.0/24